* {
  box-sizing: border-box;
}

/*--------------
header animation
--------------*/
@keyframes heading_color {
  0%   {background-color: midnightblue;}
  50%  {background-color: darkblue;}
  100% {background-color: midnightblue;}
}

/*----------
header class
----------*/
.heading {
	background-color: midnightblue;
	animation-name: heading_color;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	color: white;
	padding: 1px;
	font-size: 32px;
	width: 100%;
}

/*--------------------
body text on home page
--------------------*/
.home_body {
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	width: 70%;
	margin: auto;
	float: left;
}

/*----------------
photo on home page
----------------*/
.aside {
	float: left;
	width: 20%;
	height: 100%;
	background-color: lightblue;
}

/*---------------
columns home page
---------------*/
.list_left {
	padding-right: 10px;
	padding-left: 10px;
	float: left;
	width: 50%;
}

.list_right {
	padding-right: 10px;
	padding-left: 10px;
	float: left;
	width: 50%;
}

@media screen and (max-width: 800px) {
	.list_left, .list_right {
		width: 100%;
	}
}

/*--------------
border animation
--------------*/
@keyframes border_color {
	0%	{border-image: conic-gradient(midnightblue, midnightblue, midnightblue, midnightblue, midnightblue, midnightblue, midnightblue, midnightblue, midnightblue, midnightblue) 1;}
	10%	{border-image: conic-gradient(dodgerblue, midnightblue, midnightblue, midnightblue, midnightblue 180deg, dodgerblue 180deg, midnightblue, midnightblue, midnightblue, midnightblue) 1;}
	20%	{border-image: conic-gradient(midnightblue, dodgerblue, midnightblue, midnightblue, midnightblue, midnightblue, dodgerblue, midnightblue, midnightblue, midnightblue) 1;}
	30%	{border-image: conic-gradient(midnightblue, midnightblue, dodgerblue, midnightblue, midnightblue, midnightblue, midnightblue, dodgerblue, midnightblue, midnightblue) 1;}
	40%	{border-image: conic-gradient(midnightblue, midnightblue, midnightblue, dodgerblue, midnightblue, midnightblue, midnightblue, midnightblue, dodgerblue, midnightblue) 1;}
	50%	{border-image: conic-gradient(midnightblue, midnightblue, midnightblue, midnightblue, dodgerblue  180deg, midnightblue  180deg, midnightblue, midnightblue, midnightblue, dodgerblue) 1;}
	60%	{border-image: conic-gradient(midnightblue, midnightblue, midnightblue, midnightblue, dodgerblue  180deg, midnightblue  180deg, midnightblue, midnightblue, midnightblue, dodgerblue) 1;}
	65%	{border-image: conic-gradient(midnightblue, midnightblue, midnightblue, midnightblue, midnightblue, midnightblue, midnightblue, midnightblue, midnightblue, midnightblue) 1;}
}

/*------------
image display
------------*/
.image {
	width: 80%;
	height: auto;
	display: block;
	border-style: solid;
	border-width: 4px;
	margin-left: auto;
	margin-right: auto;
	border-image: conic-gradient(from 324.7deg, midnightblue, midnightblue, midnightblue, midnightblue, midnightblue, midnightblue, midnightblue, midnightblue, midnightblue, midnightblue) 1;
	animation-name: border_color;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-delay: 1s
}