/*------------
nav formatting
------------*/
nav {
	background: #91b0ed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 6px;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
	font-size: 2vw;
}

nav > a {
	color: black;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 12px;
}

nav > a:hover {
	transition: 0.25s;
	background: midnightblue;
	color: #FCBA12;
}