/*-------------
text formatting
-------------*/
body {
	font-size: 1.5vw;
	font-family: calibri;
}

h1 {
	text-align: center;
	font-family: calibri;
}

/*------------
drop down list
------------*/
select {
	font-size: 1.5vw;
	font-family: calibri;	
}