/*--------------
header animation
--------------*/
@keyframes heading_color {
  0%   {background-color: midnightblue;}
  50%  {background-color: darkblue;}
  100% {background-color: midnightblue;}
}

/*----------
header class
----------*/
.heading {
	background-color: midnightblue;
	animation-name: heading_color;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	color: white;
	padding: 20px;
	font-size: 2.5vw;
}

/*--------------------
body text on home page
--------------------*/
.home_body {
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	width: 70%;
	margin: auto;
	float: left;
	border-left-style: solid;
	border-left-color: midnightblue;
	border-left-width: 2px;
}

/*----------------
photo on home page
----------------*/
aside {
	float: left;
	width: 20%;
}

/*---------------
columns home page
---------------*/
.mylists {
	display: flex;
}

.mylists > div {
	width: 50%;
}

/*------------
image display
------------*/
.image {
	width: 80%;
	height: auto;
	display: block;
	border-style: solid;
	border-color: midnightblue;
	border-width: 2px;
	margin-left: auto;
	margin-right: auto;
}