/*-------------
text formatting
-------------*/
html, body {
	font-size: 1.5vw;
	font-family: calibri;
	height: 100%;
}

h1 {
	text-align: center;
	font-family: calibri;
}

h3 {
	font-size: 1.8vw;
}

/*------------
drop down list
------------*/
select {
	font-size: 1.5vw;
	font-family: calibri;	
}