/*--------------
header animation
--------------*/
@keyframes heading_color {
  0%   {background-color: midnightblue;}
  50%  {background-color: darkblue;}
  100% {background-color: midnightblue;}
}

/*----------
header class
----------*/
.heading {
	background-color: midnightblue;
	animation-name: heading_color;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	color: white;
	padding: 20px;
	font-size: 25px;
}